/* appbar */
.msgNotify { 
    position: absolute;
    font-weight: bold;
    /* border: 1px solid #E41E3F; */
    background-color: #E41E3F;
    font-size: 11px;
    padding: 0px 5px;
    border-radius: 50%;
    margin-top: -22px;
    margin-left: -17px;
    z-index: 99;
    /* display: flex; */
    /* border: 1px solid white; */

}

.profile {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin-top: 40px;
    /* border: 1px solid white; */
}
 
.profile>img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}