.flexContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 92%;
    margin-top: 62px;
    /* border: 1px solid rgb(255, 242, 60); */
}

.item1 {
    position: relative;
    height: 100%;
    width: 100%;
    /* background-color: rgb(46, 20, 20); */
    /* border: 1px solid rgb(240, 240, 240); */
}

.item2 {
    position: relative;
    height: 100%;
    min-width: 400px;
    /* background-color: rgb(46, 20, 20); */
    /* border: 1px solid rgb(240, 240, 240); */
}

.bg>img {
    position: absolute;
    height: 100%;
    width: 100%;
    filter: blur(15px);
    object-fit: cover;
    /* border: 1px solid rgb(54, 255, 212); */
}

.desc {
    padding: 10px 15px;
    width: 100%;
    height: 100%;
    background-color: #242526;
    /* border: 1px solid rgb(54, 255, 212); */

}


.xxx {
    padding: 0px 10px 17px 10px;
    border-top: 1px solid #393A3B;
    border-bottom: 1px solid #393A3B;

}

.profile {
    display: flex;
    padding-bottom: 10px;
    /* border: 1px solid rgb(54, 255, 212); */
}

.profile>p {
    padding-left: 20px;
}

.messageTab {
    position: absolute;
    padding: 10px 20px;
    height: 16%;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #393A3B;
    /* border: 1px solid rgb(54, 255, 212); */
}

.buttonx {
    display: flex;
    position: absolute;
    justify-content: center;
    border-radius: 10px;
    padding: 10px 10px;
    width: 90%;
    bottom: 10px;
    font: 500 18px Segoe UI;
    color: #ffff;
    background-color: #2374E1;
    /* border: 1px dashed rgb(20, 192, 135); */
}

@media screen and (max-width: 900px) {

    .flexContainer {
        flex-direction: column;
        height: 1200px;
    }

    .item1 {
        height: 40%;
        width: 100%;
    }

    .item2 {
        height: 100%;
        width: 100%;
    }

}

@media screen and (min-height: 860px) {

    .flexContainer {
        height: 93.3%;
    }

}