.pointer {
    cursor: pointer;
}

.flexContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 92%;
    margin-top: 55px;
    /* border: 1px solid rgb(255, 242, 60); */
}

.item1 {
    position: relative;
    height: 100%;
    width: 100%;
    /* background-color: rgb(46, 20, 20); */
    /* border: 1px solid rgb(240, 240, 240); */
}

.bg>img {
    position: absolute;
    height: 100%;
    width: 100%;
    filter: blur(15px);
    object-fit: cover;
    /* border: 1px solid rgb(54, 255, 212);  */
}


.item2 {
    position: relative;
    height: 100%;
    min-width: 400px;
    padding: 10px 15px;
    height: 100%;
    background-color: #242526;
    z-index: 5;
    /* border: 1px solid rgb(54, 255, 212); */

}

.text {
    width: 370px;
    flex-direction: column;
    flex-wrap: wrap;
    /* border: 1px solid rgb(54, 255, 212); */
}

.badge {
    position: absolute;
    width: 93%;
    bottom: 12%;
    cursor: pointer;
    padding: 0px 10px 17px 10px;
    border-top: 1px solid #393A3B;
    border-bottom: 1px solid #393A3B;
    /* border: 1px solid rgb(54, 255, 212); */

}

.profile {
    display: flex;
    padding-bottom: 10px;
    /* border: 1px solid rgb(54, 255, 212); */
}

.profile>p {
    padding-left: 20px;
}

.buttonx {
    display: flex;
    position: absolute;
    justify-content: center;
    border-radius: 10px;
    padding: 10px 10px;
    width: 90%;
    bottom: 10px;
    font: 500 18px Segoe UI;
    color: #ffff;
    background-color: #2374E1;
    /* border: 1px dashed rgb(20, 192, 135); */
}

a {
    color: white;
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
}

@media screen and (max-width: 900px) {

    .flexContainer {
        flex-direction: column;
        height: 150%;
    }

    .item1 {
        min-height: 250px;
    }

    .badge {
        position: static;
        margin-bottom: 20px;
        width: 100%;
    }

    .buttonx {
        position: static;
        width: 100%;
    }

    .text {
        width: 100%;
    }

}

@media screen and (min-height: 800px) {

    .flexContainer {
        height: 93.3%;
    }

}